{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform},
            {i, "deps"}
           ]}.

{deps, [
  {'lager', ".*", {git, "https://github.com/basho/lager.git", "2.0.3"}},
  {'procket', ".*", {git, "https://github.com/msantos/procket.git", "94bd7bc2162f18f8b3f4ba60437d3c6d93054cb6"}},
  {'inert', ".*", {git, "https://github.com/msantos/inert.git", "683034bc88804174e7acac72995c8e282128ed59"}},
  {'folsom', ".*", {git, "https://github.com/boundary/folsom.git", "4824aec693c7f284363f19d999289952ec4ed586"}}
]}.
