{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform},
            {i, "deps"}
           ]}.

{deps, [
  {'lager', ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {'procket', ".*", {git, "https://github.com/cybergrind/procket.git", "master"}},
  {'inert', ".*", {git, "https://github.com/msantos/inert.git", "683034bc88804174e7acac72995c8e282128ed59"}},
  {'folsom', ".*", {git, "https://github.com/boundary/folsom.git", "master"}}
]}.
